/*! Polarized - Ben Souchet */
$polarized-light-bgr: #FDF6E3;
$polarized-light-hgl: #E1D8C3;
$polarized-light-sel: #C4BBA2;
$polarized-light-com: #A89D82;
$polarized-light-lin: #8B8061;
$polarized-light-def: #6F6241;
$polarized-light-acc: #524520;
$polarized-light-kwd: #85754E;

$polarized-dark-bgr: #002B36;
$polarized-dark-hgl: #204852;
$polarized-dark-sel: #41656F;
$polarized-dark-com: #61828B;
$polarized-dark-lin: #82A0A7;
$polarized-dark-def: #A2BDC3;
$polarized-dark-acc: #C3DAE0;
$polarized-dark-kwd: #92ACB2;

$polarized-esc: #CB4B16;
$polarized-res: #B58900;
$polarized-opr: #859900;
$polarized-str: #2AA198;
$polarized-var: #268BD2;
$polarized-nam: #6C71C4;
$polarized-nbr: #D33682;
$polarized-err: #DC322F;
$polarized-ins: #83DC2F;
