/* Polarized Light - Ben Souchet */
.polarized-light {
  --polarized-bgr: #FDF6E3;
  --polarized-hgl: #E1D8C3;
  --polarized-sel: #C4BBA2;
  --polarized-com: #A89D82;
  --polarized-lin: #8B8061;
  --polarized-def: #6F6241;
  --polarized-acc: #524520;
  --polarized-kwd: #85754E;
  --polarized-esc: #CB4B16;
  --polarized-res: #B58900;
  --polarized-opr: #859900;
  --polarized-str: #2AA198;
  --polarized-var: #268BD2;
  --polarized-nam: #6C71C4;
  --polarized-nbr: #D33682;
  --polarized-err: #DC322F;
  --polarized-ins: #83DC2F;
}
